<%= form_for @user do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.text_field :name, placeholder: 'Your Name' %>
  </div>
  <div class="field">
    <%= f.text_field :rdio_user, placeholder: 'Your Rdio User ID' %>
  </div>
  <div class="action"><%= f.submit %></div>
<% end %>
